body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: hsl(0, 0%, 0%);
}

/* Game Board Styling */

#game-board {
    background-color: hsla(183, 55%, 78%, 0.76);
    width: 100vmin;
    height: 100vmin;
    display: grid;
    /* this is what give us our even squares on the gameboard for the game */
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

/* snake stylings */

.snake {
    background-color: hsl(183, 55%, 10%);
    border: .25vmin solid black;
    border-radius: 50%;
}

.bites {
    background-color: hsl(73, 55%, 80%);
    border: .25vmin solid black;
    border-radius: 5%;
}