body {
        background-color: rgb(31, 28, 28);
        margin: 0;
}

/* Game Board Styling */

#game-board {
    background-color: hsla(183, 55%, 78%, 0.76);
    display: grid;
    align-content: stretch;    
    min-height: 100vh;
    /* this is what give us our even squares on the gameboard for the game */
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

#score-board {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    font-size: 2vh;
    color: hsl(0, 0%, 0%);
    
}

/* snake stylings */

.snake {
    display: flex;
    background-color: hsl(183, 55%, 10%);
    border: .25vmin solid black;
    border-radius: 50%;
}

.food {
    display: flex;
    background-image: url("./assets/apple.png");
    background-repeat: no-repeat;
 
}

.hide {
    display: none;
}